
  @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: antiquewhite;
}
pre > h1 {
  text-align: center;
  margin-top: 5rem;
  font-size: 40px;
}
#quote-box {
  background-color: white !important;
  width: 40rem;
  margin: 6rem auto 10rem;
  border-radius: 5px;
  padding: 40px;
}
#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-size: 1.2rem;
  margin-top: 15px;
}
.quote-text {
  height: auto;
}
.social-media > a {
  margin-right: .5rem;
  padding: 10px 7px 0px;
  cursor: pointer;
  border-radius: 5px;
}
.social-media > #twit-quote {
  
  background: #4884f4;
}
.social-media > #tumbr-quote{
  
  background: #183264;
}
.social-media > a:hover {
  opacity: .9;

}
.social-media > a img {
  width: 1.5rem;
}

#new-quote {
  background-color: #21c35c;
  border: none;
  color: #fff;
  padding: .7rem 1rem; 
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

